@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@500&display=swap');

@font-face {
  font-family: KFGQPC;
  src: url('./fonts/KFGQPC.otf');
}

*{
  font-family: 'Noto Serif Bengali', serif;
}

body {
  margin: 0;
  font-family: 'Noto Serif Bengali', serif;
  background-color: #64CCC5;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}